{{ attach_library('ohana/header') }}

<header class="l-header {{ modifier }}" role="banner">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}

  {% block content %}
    {{ content|default('<div><p style="border: 1px dashed #333; color:#333; padding:1rem; margin:0;">Header Content</p></div>') }}
  {% endblock %}

  {% if constrain %}
    </div>
  {% endif %}
</header>
