{{ attach_library('ohana/page') }}

<div class="l-page">
  {% block header %}
    {{ header|default('<p style="border: var(--border-size-1) dashed var(--gray-3); color: var(--gray-6); padding: 1rem; max-inline-size: 100%; margin: 0;">Header</p>') }}
  {% endblock %}

  <main id="main-content" class="l-main" role="main" tabindex="-1">
    {% block main %}
      {{ main|default('<p style="border: var(--border-size-1) dashed var(--gray-3); color: var(--gray-6); padding: 1rem; max-inline-size: 100%; margin: 0;">Main</p>') }}
    {% endblock %}
  </main>

  {% block footer %}
    {{ footer|default('<p style="border: var(--border-size-1) dashed var(--gray-3); color: var(--gray-6); padding: 1rem; max-inline-size: 100%; margin: 0;">Footer</p>') }}
  {% endblock %}
</div>
