// @file
// Styles for form items.

@use '../../01-core' as *;

.form-item {
  margin: 0 0 units(1);
}

.form-item__label {
  display: block;

  .is-disabled > & {
    opacity: 0.35;
  }
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__description {
  color: $gray-500;
  font-size: font-size(5);

  > :last-child {
    margin-bottom: 0;
  }
}

.form-item__required-marker::before {
  content: '*';
}

%form-item__box,
.form-item__color,
.form-item__date,
.form-item__email,
.form-item__month,
.form-item__number,
.form-item__password,
.form-item__search,
.form-item__select,
.form-item__tel,
.form-item__text,
.form-item__textarea,
.form-item__time,
.form-item__url,
.form-item__week {
  appearance: none;
  background-color: $gray-100;
  border: 1px solid $gray-300;
  border-radius: 0;
  display: inline-block;
  font-size: font-size(3);
  margin: units(0.5) 0;
  max-width: 100%;
  padding: units(1.5) units(1);
  transition-duration: 200ms;
  transition-property: background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $white;
    border: 1px solid $gray-500;
  }

  &:not([disabled]) {
    &:focus {
      @include focus-outline;
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.35;

    &:hover,
    &:focus {
      background-color: $gray-100;
      border: 1px solid $gray-300;
    }
  }

  .is-full-width > & {
    width: 100%;
  }

  .is-dark & {
    background-color: $gray-600;
    border: 1px solid $gray-600;
    color: $gray-100;

    &:hover,
    &:focus {
      background-color: $gray-600;
      border: 1px solid $gray-600;
      color: $gray-100;
    }

    &::placeholder {
      color: $gray-100;
      opacity: 1;
    }
  }
}

.form-item__textarea {
  height: auto;
}
