// @file
// Styles for Color variables.

$brand: (
  blue-cool-30v: #59b9de,
  blue-cool-50v: #0d7ea2,
  green-400: #00a91c,
  green-500: #4d8055,
  red-500: #d54309,
  red-600: #b50909,
  yellow-200: #ffbe2e,
  yellow-300: #e5a000,
);

$messages: (
  status-background: #ecf3ec,
  status-border: #00a91c,
  error-background: #f4e3db,
  error-border: #d54309,
  warning-background: #faf3d1,
  warning-border: #ffbe2e,
);

$colors: (
  brand: $brand,
  messages: $messages,
);
