// ==========================================================================
// Color maps
// ==========================================================================

$brand: (
  blue-cool-30v: #59b9de,
  blue-cool-50v: #0d7ea2,
  green-400: #00a91c,
  green-500: #4d8055,
  red-500: #d54309,
  red-600: #b50909,
  yellow-200: #ffbe2e,
  yellow-300: #e5a000,
);

$shades: (
  dark: #000,
  light: #fff,
  transparent: transparent
);

$grayscale: (
  gray-5: #f0f0f0,
  gray-10: #e6e6e6,
  gray-20: #c9c9c9,
  gray-30: #adadad,
  gray-40: #919191,
  gray-50: #757575,
  gray-60: #5c5c5c,
  gray-70: #454545,
  gray-80: #2e2e2e,
  gray-90: #1b1b1b
);

$ui: (
  border: #adadad,
  focus: #4773aa,
  mark: #ff0
);

$background: (
  dark: #000,
  light: #fff,
  transparent: transparent
);

$text: (
  dark: #000,
  light: #fff
);

$table: (
  background: #fff,
  background-head: #f0f0f0,
  background-foot: #f0f0f0,
  border: #5c5c5c
);

$breadcrumb: (
  icon-color: #000,
);

$messages: (
  text-color: #1b1b1b,
  status-background: #ecf3ec,
  status-border: #00a91c,
  error-background: #f4e3db,
  error-border: #d54309,
  warning-background: #faf3d1,
  warning-border: #ffbe2e,
);


$colors: (
  brand: $brand,
  shades: $shades,
  grayscale: $grayscale,
  breadcrumb: $breadcrumb,
  messages: $messages,
  background: $background,
  text: $text,
  table: $table,
  ui: $ui
) !default;
