{{ attach_library('ohana/footer') }}

<footer class="l-footer {{ modifier }}" role="contentinfo">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}

  {% block content %}
    {{ content|default('<div><p style="border: 1px dashed #333; color:#333; padding:1rem; margin:0;">Footer Content</p></div>') }}
  {% endblock %}

  {% if constrain %}
    </div>
  {% endif %}
</footer>
