// @file
// Styles for view layout.

@use '../../01-core/functions' as *;
@use '../../01-core/mixins' as *;
@use '../../variables' as *;

$l-view-sidebar: 300px;

.l-view {
  position: relative;
  width: 100%;

  @media(min-width:$medium-screen) {
    display: flex;
    flex-wrap: wrap;
  }

  .l-view__aside {
    display: block;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    @media(min-width:$medium-screen) {
      align-self: flex-start;
      display: flex;
      flex-basis: $l-view-sidebar;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: 0;
      margin-right: 0;
      width: $l-view-sidebar;
    }
  }

  .l-view__main {
    max-width: 100%;
    position: relative;

    @media(min-width:$medium-screen) {
      flex-basis: calc(100% - #{$l-view-sidebar});
      flex-grow: 1;
      flex-shrink: 0;
      width: calc(100% - #{$l-view-sidebar});
    }
  }
}
