// @file
// Styles for Pager.

@use '../../01-core'as *;

.pager__items {
  display: flex;
  gap: var(--size-2);
}

.pager__item {
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.pager__link {
  background-color: var(--gray-0);
  border-radius: var(--radius-3);
  color: var(--gray-7);
  margin: 0;
  outline-offset: 3px;
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  text-decoration: none;
  transition: background-color .2s var(--ease-3), color .2s var(--ease-3);

  &[href]:is(.is-active, :hover, :focus-visible) {
    background-color: var(--indigo-5);
    color: var(--indigo-0);
  }
}
