// @file
// Styles for Pager.

@use '../../01-core'as *;

%pager__link {
  background-color: transparent;
  color: var(--color-black);
  min-width: var(--size-10);
  padding: var(--size-2);

  &:focus {
    outline: 1px dotted $primary;
  }
}

.pager__items {
  @include list-unstyled;
  clear: both;
}

.pager__item {
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;

  &:not([class*='pager__item--']) {
    display: none;

    @media(min-width: $small-screen) {
      display: inline-block;
    }
  }
}

.pager__item--ellipsis {
  @extend %pager__link;
  display: none;

  @media(min-width: $small-screen) {
    display: inline-block;
  }
}

.pager__item--current.pager__item {
  @extend %pager__link;
  background-color: $primary;
  color: var(--color-white);
}

.pager__link {
  @extend %pager__link;
  display: inline-block;
  text-decoration: none;

  &:visited {
    color: var(--color-black);
  }

  &:hover,
  &:focus {
    background-color: $primary;
    color: var(--color-white);
  }

  &:active {
    background-color: $primary;
    color: var(--color-white);
  }
}

.pager__link--previous,
.pager__link--next {
  background-color: transparent;
  color: var(--color-black);
  position: relative;

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--color-black);

    .pager__link-icon g {
      fill: $primary;
    }
  }

  &:visited {
    color: var(--color-black);
  }
}

.pager__item--previous {
  margin-right: var(--size-2);

  .pager__link {
    padding-left: var(--size-8);
  }
}

.pager__item--next {
  margin-left: var(--size-2);

  .pager__link {
    padding-right: var(--size-8);
  }
}

.pager__link-icon {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-48%);
  width: var(--size-6);

  g {
    fill: var(--color-black);
  }

  .pager__item--next & {
    left: auto;
    right: 0;
    transform: translateY(-48%) rotate(180deg);
  }
}
