// @file
// HTML styles.

:where(html) {
  --accent-color: var(--blue-6);
  --caret-color: var(--blue-6);
  --scrollbar-color: var(--gray-7);
  --text-0: var(--gray-7);

  accent-color: var(--accent-color);
  background-color: white;
  block-size: 100%;
  caret-color: var(--caret-color);
  color: var(--text-0);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-4);
  min-height: 100%;
  scrollbar-color: var(--scrollbar-color) transparent;
  text-size-adjust: none;

  @media screen and (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &:has(dialog[open]) {
    overflow: hidden;
  }
}
