// @file
// Input element styles.

:where(input) {
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  touch-action: manipulation;
}

:where(input:not(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])) {
  background-color: var(--gray-1);
  border-radius: var(--radius-2);
  margin-inline-end: var(--size-1);
}

// Checkbox, Options input
:where(input[type="checkbox"], input[type="radio"]) {
  block-size: var(--size-4);
  inline-size: var(--size-4);
}

// file input
:where(input[type="file"]) {
  align-self: flex-start;
  background-color: white;
  border-radius: var(--radius-2);
  border-color: var(--gray-3);
  border-style: solid;
  border-width: var(--border-size-1);
  box-shadow: var(--inner-shadow-1);
  color: var(--gray-7);
  cursor: initial;
  display: block;
  max-inline-size: 100%;
  padding: 0;
}

:where(input[type="file"])::-webkit-file-upload-button {
  color: inherit;
  font-size: inherit;
  font: inherit;
  letter-spacing: inherit;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
  margin-inline-end: 1.75ch;
}

// Number input
:where(input[type="number"])::-webkit-inner-spin-button,
:where(input[type="number"])::-webkit-outer-spin-button {
  height: auto;
}

// Search input
:where(input[type="search"]) {
  appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    appearance: none;
  }
}

// :where(input[type='button']) {}
// :where(input[type='checkbox']) {}
// :where(input[type='color']) {}
// :where(input[type='date']) {}
// :where(input[type='datetime']) {}
// :where(input[type='datetime-local']) {}
// :where(input[type='email']) {}
// :where(input[type='file']) {}
// :where(input[type='image']) {}
// :where(input[type='month']) {}
// :where(input[type='number']) {}
// :where(input[type='password']) {}
// :where(input[type='radio']) {}
// :where(input[type='range']) {}
// :where(input[type='reset']) {}
// :where(input[type='search']) {}
// :where(input[type='submit']) {}
// :where(input[type='tel']) {}
// :where(input[type='text']) {}
// :where(input[type='time']) {}
// :where(input[type='url']) {}
// :where(input[type='week']) {}
