// @file
// Paragraph styles.

:where(p) {
  font-size: var(--font-size-2);
  margin-bottom: var(--size-2);;
  margin-top: 0;
  max-inline-size: var(--size-content-3);

  @media print {
    orphans: 3;
    widows: 3;
  }
}
