// @file
// Preformatted text styles.

:where(pre) {
  font-family: var(--font-mono);
  max-inline-size: max-content;
  min-inline-size: 0;
  white-space: pre;

  @media print {
    page-break-inside: avoid;
  }
}
