// @file
// Select element styles.

:where(select) {
  background-color: var(--gray-2);
  border-radius: var(--radius-2);
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding-block: .75ch;
  padding-inline: 1.25ch 0;
  touch-action: manipulation;
}
