// @file
// SVG element styles.

:where(svg) {
  block-size: auto;
  display: block;
  fill: currentColor;
  max-inline-size: 100%;
  stroke: none;

  &:where(:not([fill])) {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: currentColor;
  }

  &:where(:not([width])) {
    inline-size: var(--size-10);
  }
}
