// @file
// Table styles.

:where(caption) {
  color: var(--gray-5);
  padding-bottom: var(--size-1);
  padding-top: var(--size-1);
  text-align: left;
}

:where(table) {
  border-collapse: collapse;
  border-color: var(--gray-2);
  caption-side: bottom;
  color: var(--gray-8);
  margin-bottom: var(--size-2);
  vertical-align: top;
  width: 100%;

  > :not(caption) > * > * {
    background-color: transparent;
    border-bottom-width: var(--border-size-1);
    padding: var(--size-1);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  > :not(:first-child) {
    border-top-color: currentColor;
    border-top-width: var(--border-size-2);
  }
}

:where(thead, tbody, tfoot, tr, td, th) {
  border-color: inherit;
}

:where(thead) {
  @media print {
    display: table-header-group;
  }
}

:where(tr) {
  @media print {
    page-break-inside: avoid;
  }
}

:where(th) {
  text-align: inherit;
}
