// @file
// Textarea element styles.

:where(textarea) {
  background-color: var(--gray-2);
  border-radius: var(--radius-2);
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  resize: block;
  touch-action: manipulation;
}
