<section class="pl-aspect-ratio">
  <div class="just-for-gap">
    <h3>Aspect Ratios</h3>
    <article class="aspect-demo">
      <div style="aspect-ratio: var(--ratio-square)">box</div>
      <div style="aspect-ratio: var(--ratio-landscape)">landscape</div>
      <div style="aspect-ratio: var(--ratio-portrait)">portrait</div>
      <div style="aspect-ratio: var(--ratio-widescreen)">widescreen</div>
      <div style="aspect-ratio: 1.6180/1">golden ratio</div>
      <div style="aspect-ratio: 18/5">ultrawide</div>
    </article>
  </div>
</section>
