// @file
// Styles for Tables.

:where(.table) {
  --table-border-width: var(--border-size-1);
  --table-striped-bg: var(--gray-1);
  --table-hover-bg: var(--gray-3);
}

.table--bordered {
  > :not(caption) > * {
    border-width: var(--table-border-width) 0;

    > * {
      border-width: 0 var(--table-border-width);
    }
  }
}

.table--borderless {
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

.table--striped {
  > tbody > tr:nth-of-type(odd) > * {
    background-color: var(--table-striped-bg);
  }
}

.table--hover {
  > tbody > tr:hover > * {
    background-color: var(--table-hover-bg);
  }
}

.table--responsive {
  overflow-x: auto;
}
