{% set classes = [
  'form-item__label',
  is_disabled ? 'is-disabled',
  is_required ? 'is-required',
  label_display == 'invisible' ? 'u-visually-hidden',
  required ? 'js-form-required',
] %}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>
    {{ title }}
    {% if required %}
      <span class="form-item__required-marker"><span class="visually-hidden">{{ 'This field is required.'|t }}</span></span>
    {% endif %}
  </label>
{%- endif %}
