// @file
// Body styles.

@use '../../01-core' as *;

body {
  background-color: color(background, light);
  color: color(text, dark);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  word-wrap: break-word;
}
