// @file
// HTML styles.

@use 'sass:math';
@use '../../01-core' as *;

html {
  box-sizing: border-box;
  font-family: font-family(body);
  font-size: 100% * math.div(font-size(base), rem(16px));
  line-height: line-height(base);
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  text-size-adjust: 100%;
}
