// @file
// HTML styles.

html {
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-size: 100%;
  line-height: var(--line-md);
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}
