// @file
// HTML styles.

@use '../../01-core' as *;

html {
  box-sizing: border-box;
  font-family: $font-body;
  font-size: 100%;
  line-height: var(--line-md);
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  text-size-adjust: 100%;
}
