// @file
// Preformatted text styles.

@use '../../01-core' as *;

pre {
  font-family: var(--font-mono);
  font-size: var(--scale-00);
  margin: 0 0 var(--size-4);
  overflow: auto;

  @media print {
    page-break-inside: avoid;
  }
}
