// @file
// Table styles.

@use '../../01-core' as *;

caption {
  margin-bottom: var(--size-1);
}

// col {}

// colgroup {}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: var(--size-4);
  min-width: 100%;
}

// tbody {}

td {
  background-color: $white;
  border: 1px solid $black;
  padding: var(--size-4);
}

tfoot {
  td,
  th {
    background-color: $gray-200;
  }
}

th {
  background-color: $white;
  border: 1px solid $black;
  padding: var(--size-4);
  text-align: left;
}

thead {
  td,
  th {
    background-color: $gray-200;
  }

  @media print {
    display: table-header-group;
  }
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}
