// @file
// Styles for SKiplinks.

@use '../../01-core' as *;

$skiplinks-link-bg: color(shades, dark);
$skiplinks-link-border-width: units(2px);
$skiplinks-link-border-color: color(shades, light);
$skiplinks-link-border-radius: units(0.5);
$skiplinks-link-color: color(shades, light);
$skiplinks-link-padding: units(1);

.skiplinks {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.skiplinks__link,
.skiplinks__link:visited,
.skiplinks__link:focus {
  @include box-shadow(2);
  background-color: $skiplinks-link-bg;
  border: $skiplinks-link-border-width solid $skiplinks-link-border-color;
  border-bottom-left-radius: $skiplinks-link-border-radius;
  border-bottom-right-radius: $skiplinks-link-border-radius;
  border-top: 0;
  color: $skiplinks-link-color;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  outline: 0;
  padding: $skiplinks-link-padding;
  text-align: center;
  text-decoration: none;
}

// Remove :focus styles for skiplink targets.
// stylelint-disable-next-line selector-max-id
#main:focus {
  outline: 0;
}
