// @file
// Styles for SKiplinks.

@use '../../01-core/mixins' as *;
@use '../../01-core/functions' as *;
@use '../../variables' as *;

.skiplinks {
  display: flex;
  font-family: font-family(system);
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.skiplinks__link,
.skiplinks__link:visited,
.skiplinks__link:focus {
  background-color: color(shades, dark);
  border: 2px solid color(shades, light);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  box-shadow: box-shadow(2);
  color: color(shades, light);
  display: inline-block;
  font-weight: bold;
  line-height: line-height(tight);
  margin: 0;
  outline: 0;
  padding: units(1);
  text-align: center;
  text-decoration: none;
}

// Remove :focus styles for skiplink targets.
// stylelint-disable-next-line selector-max-id
#main:focus {
  outline: 0;
}
