// @file
// Styles for Messages.

@use '../../01-core' as *;

// Messages
$message-border-width: 1px;
$message-margin-bottom: units(2);
$message-padding: units(2);
$message-color: $black;

$message-status-bg: tint-color($green, 80%);
$message-status-border: $green;

$message-error-bg: tint-color($red, 80%);
$message-error-border: $red;

$message-warning-bg: tint-color(yellow, 80%);
$message-warning-border: $yellow;

.message {
  border: $message-border-width solid;
  margin-bottom: $message-margin-bottom;
  overflow: hidden;
  padding: $message-padding;
  position: relative;
  word-wrap: break-word;

  &::before {
    bottom: -0.5em;
    content: '';
    display: block;
    height: 52px;
    position: absolute;
    right: -0.5em;
    transform: rotate(-20deg);
    width: 52px;

    @media print {
      display: none !important;
    }
  }

  a {
    color: $message-color;
    font-weight: 600;
    text-decoration: underline;
  }
}

.message__content {
  > *:last-child {
    margin-bottom: 0;
  }
}

// Status Message
.message--status {
  background-color: $message-status-bg;
  border-color: $message-status-border;

  &::before {
    @include svg-icon("../img/messages-status.svg", 52px, 52px, $message-status-border);
  }
}

// Error Message
.message--error {
  background-color: $message-error-bg;
  border-color: $message-error-border;

  &::before {
    @include svg-icon("../img/messages-error.svg", 52px, 52px, $message-error-border);
  }

  .message__item {
    em:first-child {
      font-style: normal;
      font-weight: 700;
    }
  }
}

// Warning Message
.message--warning {
  background-color: $message-warning-bg;
  border-color: $message-warning-border;

  &::before {
    @include svg-icon("../img/messages-warning.svg", 52px, 52px, $message-warning-border);
  }
}
