// @file
// Styles for Messages.

@use '../../01-core' as *;

// Messages
$message-color: color(messages, text-color) !default;
$message-status-background: color(messages, status-background) !default;
$message-status-border: color(messages, status-border) !default;
$message-error-background: color(messages, error-background) !default;
$message-error-border: color(messages, error-border) !default;
$message-warning-background: color(messages, warning-background) !default;
$message-warning-border: color(messages, warning-border) !default;

.message {
  border: 1px solid;
  margin-bottom: units(2);
  overflow: hidden;
  padding: units(2);
  position: relative;
  word-wrap: break-word;

  &::before {
    bottom: -0.5em;
    content: '';
    display: block;
    height: 52px;
    position: absolute;
    right: -0.5em;
    transform: rotate(-20deg);
    width: 52px;

    @media print {
      display: none !important;
    }
  }

  a {
    color: $message-color;
    font-weight: 600;
    text-decoration: underline;
  }
}

.message__content {
  > *:last-child {
    margin-bottom: 0;
  }
}

// Status Message
.message--status {
  background-color: $message-status-background;
  border-color: $message-status-border;

  &::before {
    @include svg-icon("../img/messages-status.svg", 52px, 52px, $message-status-border);
  }
}

// Error Message
.message--error {
  background-color: $message-error-background;
  border-color: $message-error-border;

  &::before {
    @include svg-icon("../img/messages-error.svg", 52px, 52px, $message-error-border);
  }

  .message__item {
    em:first-child {
      font-style: normal;
      font-weight: 700;
    }
  }
}

// Warning Message
.message--warning {
  background-color: $message-warning-background;
  border-color: $message-warning-border;

  &::before {
    @include svg-icon("../img/messages-warning.svg", 52px, 52px, $message-warning-border);
  }
}
