// @file
// Styles for fields.

@use '../../01-core' as *;
@use '../../02-base/elements/headings' as *;

.field {
  margin-bottom: var(--size-4);
}

.field__label {
  @include heading-4;
  display: block;
  margin-bottom: 0;

  &.is-inline {
    @include heading-5;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.25rem;

    &::after {
      content: ':';
    }

    + .field__content {
      display: inline;
    }
  }
}

// Variants
.field--tight {
  margin-bottom: 0;
}
