    <!-- Fake drupalSettings if you need it. -->
    {# <script type="application/json" data-drupal-selector="drupal-settings-json"></script> #}

    <!-- Drupal-provided JS so we can mock Drupal JS Behaviors. -->
    {# <script src="../../dist/vendor/ready.min.js"></script>
    <script src="../../dist/vendor/jquery.min.js"></script>
    <script src="../../dist/vendor/jquery.once.min.js"></script>
    <script src="../../dist/vendor/drupalSettingsLoader.js"></script>
    <script src="../../dist/vendor/drupal.js"></script>
    <script src="../../dist/vendor/drupal.init.js"></script> #}

    <!-- Concatenated by Gulp so you don't have to manually add each file. -->
    {# <script src="../../dist/js/scripts.js?{{ cacheBuster }}"></script> #}

    <!--DO NOT REMOVE-->
    {{ patternLabFoot|raw }}
  </body>
</html>
