// @file
// Styles for Figure.

@use '../../01-core' as *;

.figure {
  display: table;
  margin-bottom: units(2);
  margin-top: 0;

  &.u-align-left {
    @media(min-width:$small-screen) {
      margin-right: units(4);
      max-width: calc(50% - #{units(2)});
    }
  }

  &.u-align-right {
    @media(min-width:$small-screen) {
      margin-left: units(4);
      max-width: calc(50% - #{units(2)});
    }
  }
}

.figure__caption {
  caption-side: bottom;
  display: table-caption;
  font-family: font-family(alt);
  font-size: font-size(1);
  font-weight: 700;
  line-height: line-height(tight);
  margin-top: units(1);
}

.figure--center {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: units(2);
}

.figure--left {
  @media(min-width:$small-screen) {
    float: left;
    margin-right: $gutter-width;
    max-width: calc(50% - #{units(2)});
  }
}

.figure--right {
  @media(min-width:$small-screen) {
    float: right;
    margin-left: $gutter-width;
    max-width: calc(50% - #{units(2)});
  }
}

.figure--video {
  display: block;
  width: 100%;

  .figure__caption {
    display: block;
  }
}
