// @file
// Styles for Figure.

@use '../../01-core' as *;

.figure {
  display: table;
  margin-bottom: var(--size-4);
  margin-top: 0;

  &.u-align-left {
    @media(min-width:$small-screen) {
      margin-right: var(--size-8);
      max-width: calc(50% - #{var(--size-4)});
    }
  }

  &.u-align-right {
    @media(min-width:$small-screen) {
      margin-left: var(--size-8);
      max-width: calc(50% - #{var(--size-4)});
    }
  }
}

.figure__caption {
  caption-side: bottom;
  display: table-caption;
  font-family: var(--font-sans);
  font-size: var(--scale-000);
  font-weight: var(--font-bold);
  line-height: var(--line-xs);
  margin-top: var(--size-2);
}

.figure--center {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--size-4);
}

.figure--left {
  @media(min-width:$small-screen) {
    float: left;
    margin-right: $gutter-width;
    max-width: calc(50% - #{var(--size-4)});
  }
}

.figure--right {
  @media(min-width:$small-screen) {
    float: right;
    margin-left: $gutter-width;
    max-width: calc(50% - #{var(--size-4)});
  }
}

.figure--video {
  display: block;
  width: 100%;

  .figure__caption {
    display: block;
  }
}
