{% set classes = [
  'form-item',
  'form-item--select',
  modifier ? modifier,
]|join(' ')|trim %}

<div class="{{ classes }}">
  <label class="form-item__label" for="edit-select">Select</label>
  <select class="form-item__select" id="edit-select">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
    <option>Option Five</option>
    <option disabled>Disabled Option</option>
  </select>
  <div class="form-item__description">The description for this form field.</div>
</div>
