/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

/**
 * By default we want to add padding so the style guide is more
 * readable. This can be overridden in each patterns data file.
 */
.pl {
  padding: 35px;
}

.no-padding {
  padding: 0;
}

#sg-patterns {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 8px;
}

.pl-swatch__group {
  display: flex;
  flex-wrap: wrap;
}

.pl-swatch {
  align-items: flex-end;
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: flex;
  height: 180px;
  margin: 0 5px 5px 0;
  position: relative;
  vertical-align: top;
  width: 180px;
}

.pl-swatch__meta {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: small;
  padding: 15px;
  width: 100%;
}

/* Increases size of pattern category and pattern name */
.pl-c-category__title a {
  font-size: 32px;
}

.pl-c-pattern__title a {
  font-size: 24px;
}

.pl-icons__item {
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 5px;
  min-width: 100px;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.pl-icons .icon {
  fill: #222222;
  height: 50px;
  margin: 20px auto;
  max-width: 100%;
  width: auto;
  vertical-align: middle;
}

.pl-icons__name {
  background-color: rgba(0, 0, 0, 0.25);
  font-size: small;
  margin: 0;
  padding: 15px;
}
