// @file
// Link mixins

@use '../variables' as *;

@mixin link($link: $link-color, $hover: $link-color-hover, $active: $link-color-active, $visited: $link-color-visited) {
  color: $link;

  &:visited {
    color: $visited;
  }

  &:hover,
  &:focus {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}
