@use '00-settings' as *;
@use '01-core/functions/' as *;

// Focus
$focus-width: units(0.5) !default;
$focus-style: solid !default;
$focus-color: color(brand, blue-cool-50v) !default;
$focus-offset: units(0.5) !default;

// Links
$link-color: color(brand, blue-cool-50v) !default;
$link-color-visited: color(brand, blue-cool-30v) !default;
$link-color-hover: color(brand, blue-cool-30v) !default;
$link-color-active: color(brand, blue-cool-30v) !default;

// Inline Elements
$cite-color: color(grayscale, gray-60) !default;
$mark-background: color(ui, mark) !default;
$mark-color: color(shades, dark) !default;

// Blockquote
$blockquote-color: color(brand, blue-cool-50v) !default;

// Breadcrumb
$breadcrumb-color: color(breadcrumb, icon-color) !default;

// Messages
$message-color: color(messages, text-color) !default;
$message-status-background: color(messages, status-background) !default;
$message-status-border: color(messages, status-border) !default;
$message-error-background: color(messages, error-background) !default;
$message-error-border: color(messages, error-border) !default;
$message-warning-background: color(messages, warning-background) !default;
$message-warning-border: color(messages, warning-border) !default;

// Media Query Ranges
$small-screen: 576px !default;
$medium-screen: 768px !default;
$large-screen: 992px !default;
$xlarge-screen: 1200px !default;

// Gutters
$gutter-width: units(2.5);
$grid-gutter-width: units(5);

// Contstraints
$max-width: rem(1440px) !default;
