// @file
// Styles for Tabs.

@use '../../01-core' as *;

$tabs-bg: $gray-100;
$tabs-border-radius: units(0.5);
$tabs-margin-bottom: units(2);
$tabs-padding: units(1);

$tabs-item-margin: 0 0 units(1) 0;
$tabs-item-margin-small: 0 units(1) 0 0;

$tabs-link-border-radius: units(0.5);
$tabs-link-font-size: font-size(5);
$tabs-link-padding: units(1) units(2);
$tabs-link-bg: color(brand, blue-cool-50v);
$tabs-link-color: $white;

$tabs-link-visited-color: $white;

$tabs-link-hover-bg: color(brand, blue-cool-30v);
$tabs-link-hover-color: $white;

$tabs-link-active-bg: color(brand, blue-cool-30v);;
$tabs-link-active-color: $white;

.tabs {
  @include clearfix;
  background-color: $tabs-bg;
  border-radius: $tabs-border-radius;
  margin-bottom: $tabs-margin-bottom;
  padding: $tabs-padding;
}

.tabs__items {
  @include list-unstyled;
  display: flex;
  flex-direction: column;

  @media(min-width:$small-screen) {
    flex-direction: row;
  }

  @media print {
    display: none;
  }
}

.tabs__item {
  margin: $tabs-item-margin;

  @media(min-width:$small-screen) {
    margin: $tabs-item-margin-small;

    &:last-child {
      margin: 0;
    }
  }
}

.tabs__link {
  background-color: $tabs-link-bg;
  border-radius: $tabs-link-border-radius;
  color: $tabs-link-color;
  display: inline-block;
  font-size: $tabs-link-font-size;
  padding: $tabs-link-padding;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @media(min-width:$small-screen) {
    width: auto;
  }

  &:visited {
    color: $tabs-link-visited-color;
  }

  &:hover,
  &:focus {
    background-color: $tabs-link-hover-bg;
    color: $tabs-link-hover-color;
  }

  &:active,
  &.is-active {
    background-color: $tabs-link-active-bg;
    color: $tabs-link-active-color;
  }
}
