// @file
// Styles for Tabs.

@use '../../01-core' as *;

.tabs {
  @include clearfix;
  background-color: var(--gray-1);
  border-radius: var(--size-1);
  margin-bottom: var(--size-4);
  padding: var(--size-2);

  // Tabs in Drupal toolbar
  .toolbar-tab & {
    margin-bottom: 0;
    padding: 0;
  }
}

.tabs__items {
  @include list-unstyled;
  display: flex;
  flex-direction: column;

  @media(min-width: $screen-sm) {
    flex-direction: row;
  }

  @media print {
    display: none;
  }
}

.tabs__link {
  background-color: var(--blue-5);
  border-radius: var(--radius-3);
  color: white;
  display: inline-block;
  font-family: var(--font-sans);
  font-size: var(--font-size-0);
  margin-right: var(--size-105);
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  text-align: center;
  text-decoration: none;
  width: 100%;

  @media(min-width: $screen-sm) {
    width: auto;
  }

  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: var(--blue-9);
    color: white;
  }

  &:active,
  &.is-active {
    background-color: var(--blue-9);
    color: white;
  }
}
