// @file
// Styles for Button.

@use '../../01-core' as *;

$button-bg: $primary;
$button-color: $white;
$button-visited-color: $white;
$button-hover-bg: shade-color($button-bg, 20%);
$button-hover-color: $white;
$button-active-bg: shade-color($button-bg, 20%);
$button-active-color: $white;
$button-disabled-bg: $gray-200;
$button-disabled-color: $white;

.button {
  appearance: none;
  background-color: $button-bg;
  border: 0;
  border-radius: units(0.5);
  box-sizing: border-box;
  color: $button-color;
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-bold);
  padding: units(1.5) units(2.5);
  text-align: center;
  text-decoration: none;
  width: 100%;

  @media(min-width:$small-screen) {
    width: auto;
  }

  &:visited {
    color: $button-visited-color;
  }

  &:hover,
  &:focus {
    background-color: $button-hover-bg;
    color: $button-hover-color;
  }

  &:active {
    background-color: $button-active-bg;
    color: $button-active-color;
  }

  &:not([disabled]):focus {
    outline-offset: units(0.5);
  }

  &:disabled {
    background-color: $button-disabled-bg;
    color: $button-disabled-color;
    cursor: default;
    pointer-events: none;
  }
}

// Unstyled Button
.button--unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: $button-color;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: underline;

  &:visited {
    color: $button-color;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: shade-color($button-bg, 20%);
  }

  &:active {
    background-color: transparent;
    color: shade-color($button-bg, 20%);
  }
}
