{{ attach_library('ohana/content')}}

<section class="l-content {{ modifier }}">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}

  {% block content %}
    {{ content|default('<p style="border: var(--border-size-1) dashed var(--gray-3); color: var(--gray-6); padding: 1rem; max-inline-size: 100%; margin: 0;">Main Content</p>') }}
  {% endblock %}

  {% if constrain %}
    </div>
  {% endif %}
</section>
