{{ attach_library('ohana/region')}}

<section class="l-{{ region_name ?: 'region' }}">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}

  {% block content %}
    {{ content|default('<p style="border: var(--border-size-1) dashed var(--gray-3); color: var(--gray-6); padding: 1rem; max-inline-size: 100%; margin: 0;">Region Content</p>') }}
  {% endblock %}

  {% if constrain %}
    </div>
  {% endif %}
</section>
