/**
 * @file
 * Callout styles.
 */

.callout {
  display: flex;
  flex-direction: column;

  /* Horizontal layout */
  &.is-horizontal {
    gap: var(--size-4);

    @media (--laptop) {
      flex-direction: row-reverse;

      .callout__image {
        flex-shrink: 0;
        width: 50%;
      }
    }

    .callout__text {
      width: 100%;

      @media (--laptop) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
      }
    }

    .callout__wrapper {
      max-width: 65ch;
    }
  }

  /* Horizontal in reversed order */
  &.is-reversed {
    @media (--laptop) {
      flex-direction: row;
    }
  }
}

.callout__wrapper {
  @media (--laptop) {
    padding-inline: var(--size-8);
  }
}

.callout__title {
  color: var(--gray-900);
  font-family: var(--font-heading);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-400);
  margin-block-end: var(--size-2);
  max-width: 35ch;

  @media (--laptop) {
    font-size: var(--font-size-8);
  }
}

.callout__teaser {
  font-size: var(--font-size-2);
  margin-block-end: var(--size-4);
  max-width: 65ch;

  @media (--laptop) {
    font-size: var(--font-size-3);
  }
}
