// @file
// Styles for Breadcrumb.

@use '../../01-core' as *;

$breadcrumb-padding: units(2) 0;
$breadcrumb-item-color: $black;

.breadcrumb {
  padding: $breadcrumb-padding;
}

.breadcrumb__list {
  display: block;
  list-style-type: none;
  margin: - units(0.5);
  padding: units(0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumb__item {
  display: inline;
  left: -999em;
  margin-bottom: 0;
  position: absolute;
  right: auto;

  &:nth-last-child(2) {
    position: static;

    .breadcrumb__link {
      &::before {
        @include svg-icon("../img/breadcrumb-back.svg", 16px, 16px, $breadcrumb-item-color);
        bottom: -0.2em;
        content: '';
        display: inline-block;
        margin: 0 units(1);
        position: relative;
      }
    }
  }

  @media(min-width:$small-screen) {
    position: static;

    &:nth-last-child(2) {
      .breadcrumb__link {
        &::before {
          display: none;
        }
      }
    }

    &:not(:last-child)::after {
      @include svg-icon("../img/breadcrumb-next.svg", 16px, 16px, $breadcrumb-item-color);
      bottom: -0.2em;
      content: '';
      display: inline-block;
      margin: 0 units(1);
      position: relative;
    }
  }
}

.breadcrumb__link {
  &:focus {
    outline-offset: 0;
    text-decoration: none;
  }
}
